html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    font-family: Verdana, sans-serif;
    background-color: #0d253f;
    color: #01b4e4;
}

h1 {
    text-align: left;
    margin-left: 10px;
}

label {
    margin-left: 20px;
}

#query_field {
    height: 50px;
    width: 250px;

}

#movies_list {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

footer {
    font-size: small;
    background-color: dimgrey;
    text-align: center;
    position: relative;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 1);
    height: fit-content;
    padding-top: 10px;
}

.footer_logo {
    width: 250px;
    height: 50px;
    padding-bottom: 5px;
}

.movie_entry {
    width: 80%;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    margin: 20px;
    padding: 10px;
    /*padding-left: 30px !important;*/
    border-color: grey;
    border-style: solid;
}

.movie_release {
    margin-top: 0;
    margin-bottom: 0;
}

.movie_title {
    margin-top: 0;
    margin-bottom: 0;
}
